<!DOCTYPE html>
<html>
  <head>
    <title>Meia</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Meia">
    <meta name="keywords" content="Meia">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Meia">
    <meta property="og:description" content="Meia">
    <meta property="og:url" content="/">
    <meta property="og:image" content="/images/fb_share.jpg?1531799562441">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="msapplication-TileImage" content="favicon.ico">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="css/screen.css" rel="stylesheet">
    <link href="css/semantic.min.css" rel="stylesheet">
    <link href="css/calendar.min.css" rel="stylesheet">
    <link href="css/css.css?1531799562441" rel="stylesheet">
    <script src="js/libs/html5shiv.min.js"></script>
  </head>
  <body>
    <div class="ui mini modal" id="checkDel">
      <div class="header">確定刪除？</div>
      <div class="content">
        <p>一但刪除就無法回復，確定刪除這筆資料嗎?</p>
      </div>
      <div class="actions"><a class="ui negative button">取消</a><a class="ui positive right labeled icon button">確定<i class="checkmark icon"></i></a></div>
    </div>
    <div class="ui fixed menu">
      <div class="ui container"><a class="header item" href="#"><img class="logo" src="images/logo2.png"></a>
        <div class="right menu"><a class="item" href="postList.html"><i class="comments icon"></i>商品管理</a><a class="item" href="orderList.html"><i class="edit icon"></i>訂單管理</a><a class="item" href="goods.html"><i class="sign in icon"></i>訂貨管理</a><a class="item" href="checkout.html"><i class="money bill alternate icon"></i>結帳管理</a><a class="item" href="instock.html"><i class="sign in icon"></i>庫存管理</a><a class="item" href="shipList.html"><i class="shipping icon"></i>出貨管理</a><a class="item" href="report.html"><i class="bar chart icon"></i>分析報表</a>
          <div class="ui simple dropdown item" tabindex="0"><img class="ui mini circular image" src="https://semantic-ui.com/images/avatar/large/steve.jpg"><i class="dropdown icon"></i>
            <div class="menu"><a class="item" href="profile.html"><i class="info circle icon"></i>帳號資訊</a><a class="item" href="settings.html"><i class="cogs icon"></i>系統設定</a><a class="item" href="javascript:void(0)"><i class="address card icon"></i>會員管理</a>
              <div class="ui divider"></div><a class="item" href="signin.html"><i class="sign out alternate icon"></i>登出</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui container main">
      <small-breadcrumb></small-breadcrumb>
      <h1 class="ui header">庫存管理</h1>
      <div class="ui middle aligned grid" id="topFunction">
        <div class="left floated six wide column">
          <div class="ui action left icon input"><i class="search icon"></i>
            <input type="text" placeholder="請輸入關鍵字" v-model="instockModel.keyword">
            <div class="ui meia button" v-on:click="searchStock()">搜尋</div>
          </div>
        </div>
        <div class="right aligned six wide column"><a class="ui large button meia" href="goods.html"><i class="add icon"></i>訂貨單入庫</a><a class="ui large button teal" href="addPurchase.html"><i class="add icon"></i>新增入庫單</a></div>
      </div>
      <table class="ui celled structured table" id="orderListTable">
        <thead>
          <tr>
            <th class="collapsing center aligned">商品圖片</th>
            <th>商品名稱</th>
            <th class="collapsing center aligned">商品規格</th>
            <th class="collapsing center aligned">庫存量</th>
            <th class="collapsing center aligned">訂貨量</th>
          </tr>
        </thead>
        <tbody>
          <template v-for="(item,index) in instocklistdata.slice(pageStart, pageStart + instockModel.showcount)">
            <tr>
              <td class="collapsing center aligned" :rowspan="item.ProductDetails.length + 1">
                <div class="ui mini image"><img class="listCover" src="images/blankImg.png" style="background-image:url(https://scontent.ftpe7-1.fna.fbcdn.net/v/t1.0-0/q85/s600x600/19248044_10213997632321634_3545526173316857080_n.jpg?_nc_fx=ftpe7-1&amp;oh=754a6382adaa05dbde08ea9b6dc47676&amp;oe=5AC6D83C)" alt=""></div>
              </td>
              <td :rowspan="item.ProductDetails.length + 1">
                <div class="postDetail">
                  <p>{{ item.ProductName }}</p>
                </div>
              </td>
            </tr>
            <tr v-for="(citem, index) in item.ProductDetails">
              <td class="center aligned">{{ citem.ProductDetailName }}</td>
              <td class="center aligned"><span :class="[ citem.InstockQty < citem.PurchaseQty ? classred : classgreen ]">{{ citem.InstockQty }}</span></td>
              <td class="center aligned">{{ citem.PurchaseQty }}</td>
            </tr>
          </template>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="6">
              <div class="ui grid">
                <div class="ui left floated three wide column">
                  <div class="fields">
                    <div class="inline field">
                        <select class="ui fluid search dropdown" name="card[expire-month]" v-model="instockModel.showcount">
                          <option v-for="option in pagesize" v-bind:value="option.value">
                            {{ option.text }}
                          </option>
                        </select>
                    </div>
                  </div>
                </div>
                <div class="ui right floated nine wide column">
                    <div class="ui right floated pagination menu">
                        <a class="icon item" v-on:click.prevent="setPage(instockModel.page-1)"><i class="left chevron icon"></i></a>
                        <div v-for="n in totalPage" v-on:click.prevent="setPage(n)">
                            <a class="item active">{{n}}</a>
                        </div>
                        <a class="icon item" v-on:click.prevent="setPage(instockModel.page+1)"><i class="right chevron icon"></i></a>
                    </div>
                </div>
              </div>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
    <footer>
      <div class="ui grid">
        <div class="two column row">
          <div class="column left aligned">
            <p>© 2017 Meia 小麥科技</p>
          </div>
          <div class="column right aligned"><a href="terms.html">隱私權政策</a></div>
        </div>
      </div>
    </footer>
    <script src="js/libs/jquery.min.js"></script>
    <script src="js/libs/device.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>
    <script src="js/libs/semantic.min.js"></script>
    <script src="js/libs/jquery.tablesort.min.js"></script>
    <script src="js/libs/calendar.min.js"></script>
    <script src="js/script.min.js?1531799562441"></script>
  </body>
</html>
<script>
  Vue.component('small-breadcrumb', {
    template: '<div class="ui small breadcrumb">\
                    <a class="section">{{ section }}</a>\
                    <i class="right chevron icon divider"></i>\
                    <div class="active section text dark">{{ activedark }}</div>\
                </div>',
    data: function() {
        return sectiondata;
    }
  });

  var sectiondata = {
    section: '首頁',
    activedark: '庫存管理',
  }

  var instock = new Vue({
    el: "div.ui.container.main",
    data:{
      header:'庫存管理',

      pagesize: [
        {text: '每頁50筆', value: 50},
        {text: '每頁100筆', value: 100},
      ],
      
      instockModel: {
        page: 1,
        count: 0,
        keyword: '',
        showcount: 50,
        total: 0,
      },

      instockUrl : 'http://localhost:7398/manage/api/stock/GetInstockList',

      msg: '',

      instocklistdata: [],

      classred : 'text red',

      classgreen : 'text green',
    },

    mounted: function() {
      this.searchStock();
    },

    computed: {
      pageStart: function(){
          return (this.instockModel.page - 1) * this.instockModel.showcount;
      },
      totalPage: function(){
          if(this.instockModel.total == 0)
              return
          return Math.ceil(this.instockModel.total / this.instockModel.showcount);
      },
    },

    methods:{
      setPage: function(idx){
        if( idx <= 0 || idx > this.totalPage ){
            return;
        }
        this.instockModel.page = idx;
      },
      searchStock: function(){
        var vm = this
        vm.instocklistdata = [];
        vm.instockModel.count = 0;
        vm.instockModel.total = 0;
        vm.instockModel.page = 1;
        vm.msg = ''
        $.ajax({
          url: vm.instockUrl,
          type:'POST',
          data : vm.instockModel,
          success: function(data) {
            vm.msg = 'ok'
            vm.instocklistdata = data.data;
            vm.instockModel.count = data.count;
            vm.instockModel.total = data.total;
            vm.instockModel.page = data.page;
          },
          error: vm.requestError
        })
      },
    }
  })
</script>