<!DOCTYPE html>
<html>
  <head>
    <title>Meia</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Meia">
    <meta name="keywords" content="Meia">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Meia">
    <meta property="og:description" content="Meia">
    <meta property="og:url" content="/">
    <meta property="og:image" content="/images/fb_share.jpg?1533207023888">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="msapplication-TileImage" content="favicon.ico">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="css/screen.css" rel="stylesheet">
    <link href="css/semantic.min.css" rel="stylesheet">
    <link href="css/calendar.min.css" rel="stylesheet">
    <link href="css/css.css?1533207023888" rel="stylesheet">
    <script src="js/libs/html5shiv.min.js"></script>
  </head>
  <body>
    <div id="root">
    <div class="ui mini modal" id="checkDel">
      <div class="header">確定刪除？</div>
      <div class="content">
        <p>一但刪除就無法回復，確定刪除這筆資料嗎?</p>
      </div>
      <div class="actions"><a class="ui negative button">取消</a><a class="ui positive right labeled icon button">確定<i class="checkmark icon"></i></a></div>
    </div>
    <div class="ui mini modal" id="addShipNum">
      <div class="header">替<span>123154688994 (Willson)</span>輸入貨運單號</div>
      <div class="content">
        <div class="ui form">
          <div class="fields">
            <div class="field">
              <input type="text" name="ship[number]" maxlength="16" placeholder="輸入貨運單號">
            </div>
            <div class="field">
              <select class="ui fluid search dropdown" name="ship[company]" v-model="sModel.showshipping">
                <option v-for="option in shipping" v-bind:value="option.value">
                    {{ option.text }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="actions"><a class="ui negative button">取消</a><a class="ui positive right labeled icon button">確定<i class="checkmark icon"></i></a></div>
    </div>
    <header class="ui fixed menu"></header>
    <div class="ui container main">
      <small-breadcrumb></small-breadcrumb>
      <h1 class="ui header">{{header}}</h1>
      <div class="ui middle aligned grid" id="topFunction">
        <div class="left floated ten wide column"></div>
        <div class="right aligned six wide column">
          <div class="ui action left icon input"><i class="search icon"></i>
            <input type="text" placeholder="請輸入關鍵字" v-model="sModel.keyword">
            <div class="ui meia button" v-on:click="searchShip()">搜尋</div>
          </div>
        </div>
      </div>
      <div class="ui relaxed divided list" id="filterResulte">
        <div class="item">
          <div class="ui middle aligned list">
            <div class="item">
              <table class="ui celled table" id="orderListTable">
                <tbody>
                  <tr data-id="0">
                    <td class="collapsing">
                      <h4 class="ui image header"><img class="ui mini rounded image" src="https://semantic-ui.com/images/avatar2/large/elyse.png">
                        <div class="content"><a>Willson</a></div>
                      </h4>
                    </td>
                    <td></td>
                    <td class="collapsing">
                      <button class="ui small button teal" onclick="showHide2(0,this)"><i class="eye icon"></i><span>顯示出貨單</span></button>
                    </td>
                    <td class="collapsing"><a class="ui small button blue" href="addShip.html?oid=12345345536"><i class="plus icon"></i><span>新增出貨單</span></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="item unVisible">
              <div class="content">
                <table class="ui celled structured table" id="orderListTable">
                  <thead>
                    <tr>
                      <th>出貨單號</th>
                      <th class="collapsing center aligned">出貨數量</th>
                      <th class="collapsing center aligned">出貨狀態</th>
                      <th class="collapsing center aligned">貨運單號</th>
                      <th class="collapsing center aligned">建立日期</th>
                      <th class="collapsing center aligned">操作</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>123154688994</td>
                      <td class="center aligned">5</td>
                      <td class="center aligned"><span class="text green">已出貨</span></td>
                      <td class="collapsing center aligned">215587985<span>(宅急便)</span></td>
                      <td class="center aligned">2018/04/03</td>
                      <td class="collapsing"><a class="ui small button blue" href="shipDetail.html"><i class="eye icon"></i>檢視</a><a class="ui small button red disabled" onclick="del()"><i class="delete icon"></i>刪除</a></td>
                    </tr>
                    <tr>
                      <td>123154688994</td>
                      <td class="center aligned">5</td>
                      <td class="center aligned"><span class="text red">待出貨</span></td>
                      <td class="collapsing center aligned">
                        <button class="ui small button blue" onclick="addShipNum('20171201000001')"><i class="edit icon"></i>輸入貨運單號</button>
                      </td>
                      <td class="center aligned">2018/04/03</td>
                      <td class="collapsing"><a class="ui small button blue" href="shipDetail.html"><i class="eye icon"></i>檢視</a><a class="ui small button red" onclick="del()"><i class="delete icon"></i>刪除</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer></footer>
    <script src="js/libs/jquery.min.js"></script>
    <script src="js/libs/device.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>
    <script src="js/libs/semantic.min.js"></script>
    <script src="js/libs/jquery.tablesort.min.js"></script>
    <script src="js/libs/calendar.min.js"></script>
    <!--<script src="js/global.min.js?1533207023888"></script>-->
    <script src="js/script.min.js?1533207023888"></script>
    <script>
      var sectiondata = {
        section: '首頁',
        activesection: '出貨管理'
      }
      Vue.component('small-breadcrumb', {
          template: '<div class="ui small breadcrumb">\
                        <a class="section">{{ section }}</a>\
                        <i class="right chevron icon divider"></i><div class="active section text dark">{{ activesection }}</div>\
                    </div>',
          data: function() {
              return sectiondata;
          }
      });
      var slist = new Vue({
        el: "#root",
        data: {
          shipping:[
            {text: '選擇運送方式' , value: '0'},
            {text: '郵局' , value: '1'},
            {text: '大榮' , value: '2'},
            {text: '宅配通' , value: '3'},
          ],

          header: "出貨管理",
          shipListtUrl: 'http://localhost:7398//manage/api/Shipping/GetShippingList',
          sModel: {
              page: 1,
              count: 0,
              keyword: '',
              showshipping:0,
              total:0,
          },
          msg: '',
          shiplistdata: [],
        },
        methods:{
          searchShip: function(){
            var vim = this
            vm.shiplistdata = []
            vm.sModel.count = 0;
            vm.sModel.total = 0;
            vm.sModel.page = 1;
            vm.msg = ''
            $.ajax({
                url: vm.shipListtUrl,
                type: 'POST',
                data: vm.sModel,
                success: function (data) {
                    vm.msg = 'ok';
                    vm.shiplistdata = data.data;
                    vm.sModel.count = data.count;
                    vm.sModel.total = data.total;
                    vm.sModel.page = data.page;
                },
                error: vm.requestError
            })
          },
        }
      })
    </script>
    </div>
  </body>
</html>